.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.id {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-weight: bold;
  font-size: 1.25rem;
  color: #b2b2b2;
}

.player {
  width: 120px;
  height: 160px;
  background: crimson;
  position: absolute;
}

.p0 {
  transform: translateY(280px);
}

.p1 {
  transform: rotate(90deg) translateY(280px);
}

.p2 {
  transform: rotate(180deg) translateY(280px);
}

.p3 {
  transform: rotate(270deg) translateY(280px);
}
