.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 3fr 2fr;
  grid-template-columns: 1fr 3fr 1fr;
}

.gameid {
  grid-area: 1 / 3 / 2 / 4;
  font-weight: bold;
  font-size: 1.25rem;
  color: #b2b2b2;
  display: flex;
  justify-content: flex-end;
  margin: 2rem;
}

.wait {
  grid-area: 1 / 1 / 4 / 4;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  font-size: 5rem;
  background: rgba(255, 255, 255, 0.8);
}
