.loader {
  grid-area: 1 / 1 / 4 / 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 20;
  font-size: 5rem;
  user-select: none;
  background: #ffffffdd;
}

.subtext {
  font-size: 2.5rem;
}
