.loader {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
  background: #ffffffdd;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  user-select: none;
}
