.container {
  grid-area: 1 / 1 / 4 / 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 20;
  font-size: 10rem;
  background: #ffffffdd;
}

.list {
  font-size: 4rem;
}

.text {
  font-size: 1rem;
}
