.card {
  width: 135px;
  height: 202.5px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
  padding: 1rem;
  border: 1px solid grey;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-right: -4rem;
  transition: 0.2s;
  color: white;
  background: #383433;
  z-index: 1;
}

.hoverable:hover {
  margin-top: -2rem;
  cursor: pointer;
}

.disabled {
  pointer-events: none;
  filter: brightness(50%);
}

.top {
  align-self: flex-start;
}

.mid {
  font-size: 2.5rem;
  font-weight: bold;
}

.bot {
  align-self: flex-end;
  transform: scale(-1, -1);
  z-index: 0;
}

.red {
  background: #fa3239;
}

.blue {
  background: #2fa5ee;
}

.green {
  background: #11ca5e;
}

.yellow {
  background: #ffc72e;
}

.black {
  background: #383433;
}

.text {
  font-size: 2rem;
}

.bg {
  width: 100%;
  height: 100%;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
}

.hide {
  justify-content: center;
  align-items: center;
}

.onu {
  color: white;
}
